body{
    background-color:  #F4F4F4;
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 550;
}
:root {
  --bg: #020E16;
  --w: #fff;
}
.dropdown-menu{
    background-color: var(--bg);
}
.padding_adjust{
    padding: 0 50px;
}
.padding_adjust2{
    padding: 20px 50px;
}
.top_part {
    background-color: var(--bg);
    color: var(--w);
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    width: 100%;
}
.date_top, .pardesh_body_2_text{
    display: none;
}
.main_logo_add{
    margin-top: 10px;
}
.navbar {
    color: var(--w);
    background-color: var(--bg);
}
.navbar a{
    color: var(--w);
}
.navbar_part .navbar, .navbar_part .navbar-brand{
    padding: 0% !important;
}
 .navbar_part .container-fluid{
    padding: 0 30px 0 0;
} 
.navbar_part{
    background-color: var(--w);
    margin-bottom: 20px;
}

.nav-item{
    padding: 10px 18px;
}

.mobile_view_add{
    padding: 10px 0;
    display: none;
}
.main_news_head .fa-solid{
    padding-right: 20px;
}
.main_news{
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px 5px #f0f0f0;
}
.nav_logo{
    display: none;
    width: 200px;
}

.kalaShahitya_head, .pardesh_head, .sport_head{
        box-shadow: 0px 7px 5px 3px #dedede;
        margin-bottom: 10px;
        padding: 10px 15px;
}
.kalaShahitya_head h4, .pardesh_head h4, .sport_head h4{
    margin: 0;
}
.sport_body_2 .row, .kala_body .col-lg-6, .kala_body .col-md-6{
    margin-bottom: 10px;
}


.pradesh_navTab{
    overflow: auto;
    width: 100%;
    height: 70px;
}
.scroll_box{
    overflow: auto;
}
.scrollmenu {
    width: 600px;
  overflow: auto;
  white-space: nowrap;
}
.scrollmenu a {
  display: inline-block;
  color: var(--bg);
  text-align: center;
  
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: var(--bg);
  color: var(--w);
}
.scrollmenu .nav-item{
    padding: 0;
    margin: 0;
}

.img_card{
    position: relative;
    border-radius: 3%;
    border: 2px solid gray;
    overflow: hidden;
}

.img_title{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    color: var(--w);
    background-color: rgba(0, 0, 0, .60);
}
.fotterpart, .fotter_ribber{
    color: var(--w);
    background-color: var(--bg);
}
.fotterpart p{
    padding: 0 0 10px 0;
    margin: 0;
}


.scrrr{
    height: 1222px;
    background-color: red;
}





@media screen and (max-width: 1110px) and (min-width: 991px){
    /*.nav-item{
        padding: 2px;
    }*/
}
@media screen and (max-width: 550px) and (min-width: 1px){
    
    .nav_logo{
        width: 180px;
        padding: 5px 0;
    }
    
}
/*992*/
@media screen and (max-width: 991px) {
  .main_logo_add  {
    display: none;
  }
  .navbar_part{
    margin: 0;
  }
  .mobile_view_add, .nav_logo, .pardesh_body_2_text{
    display: block;
  }
  .date_top{
    display: inline-block;
  }
  .navbar{
    background-color: var(--w);
    color: var(--bg);
  }
  .navbar a{
    color: var(--bg);
  }
  .padding_adjust{
    padding: 0 20px;
    }
    .padding_adjust2{
        padding: 10px 20px;
    }
}